<div>
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h3 class="panel-title"><strong>Users in the system</strong></h3>
        </div>    
        <div class="panel-body">
            <fieldset>
                <table class="table table-stripped table-hover ">
                    <thead>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <th>{{ $index + 1}}</th>
                            <th>{{user.name}}</th>
                            <th>
                                <button type="button" class="btn btn-danger" data-ng-click="deleteUser($index)"> Delete </button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </fieldset>                

        </div>
    </div>
</div>